@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

*
{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar
{
    display: none;
}
#app
{
    height: 100vh;
    background-image: linear-gradient(to right, #008bff , #16ca3c);
}
.title
{
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    font-family: 'Metal Mania', cursive;
    text-shadow: 0px 0px 10px black;
    font-size: 50px;
    color: white;
}
.life
{
    position: absolute;
    top: 40px;
    left: 40px;
    color: gray;
    font-size: 40px;
}
.alive
{
    color: #8a1717;
}
.score
{
    /* background-color: black; */
    height: 100px;
    position: absolute;
    top: 40px;
    right: 40px;
    font-family: 'Metal Mania', cursive;
    text-shadow: 0px 0px 10px black;
    font-size: 40px;
    color: white;
    width: 180px;
}
.commander
{
    /* background-color: black; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    right: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    outline: none;
    font-size: 20px;
    padding: 10px 20px;
    width: 200px;
    height: 30px;
    
}
.scorePopUp
{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-70px, calc(-50% - 0px));
    font-family: sans-serif;
    border-radius: 50px;
    font-family: 'Metal Mania', cursive;
    font-size: 25px;
    animation: scorePopUp 1s;
    width: 60px;
}

@keyframes scorePopUp
{
    100%{
        background-color: rgba(0, 0, 0, 0.5);
        width: 120px;
        height: 40px;
        font-size: 30px;
        transform: translate(-40px, calc(-50% - 180px));
    }

}
.help
{
        background-color: #171717;  
        position: absolute;
        bottom: 20px;
        border: none;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        right: 0px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        z-index: 2;
        outline: none;
        font-size: 18px;
        padding: 10px 20px;
        width: 200px;
        height: 250px;
        color: white;
        font-family: sans-serif;
        
}
.help > p:first-child
{
    text-align: center;
    font-family: 'Metal Mania', cursive;
    font-size: 30px;
    margin-bottom: 10px;
}
.commands
{
    text-transform: capitalize;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.timer
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Metal Mania', cursive;
    font-size: 100px;
    color: aqua;
    border: 2px solid white;
    background-color: black;
}
.source
{
    position: absolute;
    bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    color: black;
    text-decoration: none;
    background-color: white;
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    font-family: 'Metal Mania', cursive;
    font-size: 30px;
    padding: 10px 20px;
    width: 200px;
    height: 30px;
}
.infoPanel
{
    opacity: 0.9;
    width: 30px;
    padding: 10px;
    border-radius: 30px;
    transform: translate( 190px, -70px);
    cursor: pointer;
    z-index: 2;
    box-shadow: none;
    transition: ease-in-out all 1s;
}
.fa-question-circle
{
    color: black;
    padding: 0;
}
.fa-times
{
    color: white;
    position: relative;
    
    float: right;
    margin: 20px;
    background-color: #cac7c7b8;
    padding: 10px 15px;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 15px;
}
.invisible
{
    display: none;
    
}
.infoPanel .info
{
    color: white;
    height: 500px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    font-family: 'Metal Mania', cursive;
}
.info h1
{
    font-size: 50px;
    text-align: center;
    color:rgb(255, 166, 0);
}
.info li
{
    font-size: 24px;
    margin: 20px 40px;
}
.info li span
{
    color: aqua
}
.howTo, .scoringScheme
{
    width: 50%;

}
.container
{
    justify-content: center;
    background-color: #171717;
    border-radius: 7px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    height: 600px;
    width: 1000px;
    position: absolute;
    left: 50%;
    bottom: 20px;
    padding: 0;
    transform: translateX(-50%);
}

.container .crosshair
{
    transition: ease-in-out all 1s;
    position: absolute;
    z-index: 2;
    left: 250px;
    width: 100px;
}

.container .archery
{
    transition: ease-in-out all 1s;
    position: absolute;
    width: 200px;
}
.gameOver
{
    color: white;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.gameOver h1
{
    font-family: 'Metal Mania', cursive;
    font-size: 150px;
    color: red;
    margin-top: 100px;
}
.gameOver p
{
    font-family: 'Metal Mania', cursive;
    font-size: 50px;
}
.screenIssue
{
    background-color: black;
    position: absolute;
    height: 100vh;
    z-index: 3;
    width: 100vw;
    color: white;
    font-family: 'Metal Mania', cursive;
    font-size: 5vw;
    color: red;
    text-align: center;
    display: none;

}

@media screen and (max-width: 1500px)
{
    .screenIssue
    {
        display: block;
    }
}

